In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Household Data/household_power_consumption.txt", sep=";", low_memory= False)

In [3]:
data.head()

         Date      Time  ... Sub_metering_2 Sub_metering_3
0  16/12/2006  17:24:00  ...          1.000           17.0
1  16/12/2006  17:25:00  ...          1.000           16.0
2  16/12/2006  17:26:00  ...          2.000           17.0
3  16/12/2006  17:27:00  ...          1.000           17.0
4  16/12/2006  17:28:00  ...          1.000           17.0

[5 rows x 9 columns]

In [4]:
data.isnull().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [5]:
data=data.replace("?","nan")
data.dropna(inplace= True)

In [6]:
data.isnull().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [7]:
data_new=data.iloc[:,2:].astype("float")
data_new

         Global_active_power  ...  Sub_metering_3
0                      4.216  ...            17.0
1                      5.360  ...            16.0
2                      5.374  ...            17.0
3                      5.388  ...            17.0
4                      3.666  ...            17.0
...                      ...  ...             ...
2075254                0.946  ...             0.0
2075255                0.944  ...             0.0
2075256                0.938  ...             0.0
2075257                0.934  ...             0.0
2075258                0.932  ...             0.0

[2049280 rows x 7 columns]

In [8]:
X= data_new.iloc[:,2:4].values

y=data_new.iloc[:,0].values

In [9]:
y = y.reshape(len(y),1)             ## For Standard Scaler, Reshape is required.

In [10]:
# Scaling of Data (Not Essential here) 
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 36)

In [12]:
from sklearn.linear_model import LinearRegression
reg= LinearRegression()
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
y_pred= reg.predict(X_test)

In [14]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))
print('R2 Score:', r2_score(y_test, y_pred))

Mean Absolute Error: 0.0314760900967072
Mean Squared Error: 0.002069673284052612
Root Mean Squared Error: 0.04549366202068824
R2 Score: 0.9979298901893069