<a href="https://colab.research.google.com/github/nitver90/Machine-Learning-Repo/blob/main/Household%20Power%20Consumption/household_Polynomial_Reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Household Data/household_power_consumption.txt", sep=";", low_memory= False)

In [ ]:
data.isnull().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [ ]:
data=data.replace("?","nan")
data.dropna(inplace= True)

In [ ]:
data.isnull().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [ ]:
data_new=data.iloc[:,2:].astype("float")
data_new

         Global_active_power  ...  Sub_metering_3
0                      4.216  ...            17.0
1                      5.360  ...            16.0
2                      5.374  ...            17.0
3                      5.388  ...            17.0
4                      3.666  ...            17.0
...                      ...  ...             ...
2075254                0.946  ...             0.0
2075255                0.944  ...             0.0
2075256                0.938  ...             0.0
2075257                0.934  ...             0.0
2075258                0.932  ...             0.0

[2049280 rows x 7 columns]

In [ ]:
X= data_new.iloc[:,2:4].values

y=data_new.iloc[:,0].values

In [ ]:
# Scaling of Data (Not Essential here) 
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 36)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 4)
X_poly = poly_reg.fit_transform(X_train)
reg = LinearRegression()
reg.fit(X_poly, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred= reg.predict(poly_reg.fit_transform(X_test))

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))
print('R2 Score:', r2_score(y_test, y_pred))

Mean Absolute Error: 0.029287759648996523
Mean Squared Error: 0.002012380629120924
Root Mean Squared Error: 0.044859565636783914
R2 Score: 0.9981994289533198