In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Household Data/household_power_consumption.txt", sep=";", low_memory= False)

In [28]:
data.isnull().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [29]:
data=data.replace("?","nan")
data.dropna(inplace= True)

In [30]:
data.isnull().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
dtype: int64

In [31]:
data_new=data.iloc[:,2:].astype("float")
data_new

         Global_active_power  ...  Sub_metering_3
0                      4.216  ...            17.0
1                      5.360  ...            16.0
2                      5.374  ...            17.0
3                      5.388  ...            17.0
4                      3.666  ...            17.0
...                      ...  ...             ...
2075254                0.946  ...             0.0
2075255                0.944  ...             0.0
2075256                0.938  ...             0.0
2075257                0.934  ...             0.0
2075258                0.932  ...             0.0

[2049280 rows x 7 columns]

In [32]:
X= data_new.iloc[:,2:4].values

y=data_new.iloc[:,0].values

In [33]:
# Scaling of Data (Not Essential here) 
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 36)

In [35]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [36]:
y_pred= regressor.predict(X_test)

In [37]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_pred)))
print('R2 Score:', r2_score(y_test, y_pred))

Mean Absolute Error: 0.027180446869421396
Mean Squared Error: 0.002043995738515177
Root Mean Squared Error: 0.045210571092557286
R2 Score: 0.9981711414366397